@import './variables.scss';

.canvas { 
    height:  100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


canvas { 
    border: 1px solid rgba(0, 0, 0, 0.445);
    background-color: white;
}